.errorMensaje {
  margin-top: 10px;
  border: 2px black solid;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.errorMensaje h2 {
  text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0),
    0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}
